@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Permanent Marker', cursive;
    background-color: yellow;
}
.container{
    margin: 5% auto;
    width: 30%;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
p{
    color: #f10000;
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
}
button{
    border-radius: 25px;
    background-color: #d4d4d4;
    color: #4f4f4f;
    font-size: 20px;
    font-weight: bolder;
    padding: 2px;
    outline: none;
    width: 120px;
    height: 45px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #a8a1a5;
    color: #d4d4d4;
}
.play_again{
    position: relative;
    display: block;
    text-align: center;
    margin: 5% auto;
    background-color: #f10000;
    color: lightgray;

}
.choices{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 50%;
    margin: auto;
}
.Result{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}